html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-top: 20px;
    margin-bottom: 30px;
}

body > .container {
    padding: 15px;
}
.container .text-muted {
    margin: 15px 0;
    text-align: center;
}

#map-container{
    width: 60%;
    height: 90%;
    position: absolute;
    left: 0%;
    top: 5%; 
    margin: 1px auto;
}
#detail-container {
    width: 100px;
    height: 100px;
    position: relative;
    left: 1%;
    top: 1%; 
    margin: 10px auto;
}

#data-map{
    width: 70%;
    height: 90%;
    position: relative;
    left: 0%;
    top: 4%; 
    margin: 1px auto;
}
#province-chart {
    width: 28%;
    height: 70%;
    position: absolute;
    bottom: 10%;
    right: 3%;
    float: right;
}


#year-selector {
    width: 10%;
    height: 50%;
    position: absolute;
    top: 57%;
    right: 3%;
    float: right;
    
}
#year-slider .slider-handle {
    background: #dddddd;
}

hr {
    width: 700px;
    margin: 0 auto;
}

#province-name {
    text-align: center;
    padding: 15px;
}
.anhead{
    margin-bottom: 10px;
    text-align: center;
}
.regionhead{
    font-weight: bold;
}
p{
    margin-bottom:7px;
    margin-top: 7px;
}
h3,h4{
    font-weight:bold;
    font-size: 2.5em;
}